<main class="relative min-h-screen flex flex-col">
  <div class="flex-1">
    <div class="sm:gap-2 sm:grid sm:grid-cols-6 mx-1 sm:mx-10 my-10">
      <div class="col-span-2 flex flex-row">
        <div class="px-2 justify-center items-center">
          <h1 class="!mb-1">Ayuda</h1>
          <h2>Preguntas frecuentes</h2>
          <p>
            Si estás confundido acerca de cómo funciona el generador o qué puede
            ofrecerte, no te preocupes. En esta sección, se recopilan las
            preguntas más comunes que pueden surgir y sus respuestas para
            ayudarte a aclarar cualquier duda que puedas tener.
          </p>
        </div>
        <mat-divider
          class="invisible sm:visible h-full"
          [vertical]="true"
        ></mat-divider>
      </div>
      <div class="col-span-4">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> ¿Qué es esta web? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Esta web es un generador de ideas para proyectos de programación.
              Su propósito es proporcionar inspiración y sugerencias aleatorias
              de temas y tipos de proyectos para desarrolladores que buscan
              nuevos desafíos o áreas de interés en el campo de la programación.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Por qué un generador de ideas para coding?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Un generador de ideas para coding es útil porque puede ayudar a
              los desarrolladores a superar bloqueos creativos, encontrar nuevos
              proyectos para trabajar y explorar áreas de programación que
              pueden no haber considerado antes. Proporciona una forma rápida y
              sencilla de obtener inspiración y sugerencias para proyectos de
              programación, lo que puede ser especialmente útil para
              principiantes o para aquellos que buscan expandir sus habilidades
              en nuevas áreas.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Cómo se debería utilizar el generador?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Utilizar el generador es fácil. Simplemente haz clic en el botón
              "Generar" y la aplicación seleccionará aleatoriamente un tema y un
              tipo de proyecto para ti. Luego, puedes usar esta sugerencia como
              punto de partida para tu proyecto de programación. Puedes explorar
              más a fondo el tema seleccionado, identificar problemas o
              necesidades específicas dentro de ese campo, y luego diseñar y
              desarrollar una solución utilizando las habilidades de
              programación adecuadas para el tipo de proyecto sugerido.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Qué beneficios ofrece el uso del generador de ideas para
                proyectos de programación?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              El uso del generador de ideas para proyectos de programación
              ofrece varios beneficios:
            </p>
            <ul>
              <li>
                Inspiración instantánea: Proporciona sugerencias aleatorias de
                temas y tipos de proyectos, lo que puede ayudar a superar
                bloqueos creativos y proporcionar inspiración instantánea para
                desarrollar nuevos proyectos.
              </li>
              <li>
                Exploración de nuevos campos: Permite a los desarrolladores
                explorar una amplia variedad de temas y áreas de interés en el
                campo de la programación, lo que les ayuda a expandir sus
                habilidades y conocimientos en diferentes áreas.
              </li>
              <li>
                Diversificación del portafolio: Facilita la creación de un
                portafolio diversificado de proyectos de programación al sugerir
                proyectos en una variedad de temas y tipos, lo que puede ser
                útil para estudiantes, profesionales y aspirantes a
                desarrolladores.
              </li>
              <li>
                Desarrollo de habilidades: Ofrece la oportunidad de desarrollar
                nuevas habilidades y conocimientos al trabajar en proyectos
                fuera de la zona de confort habitual del desarrollador.
              </li>
              <li>
                Ahorro de tiempo: Evita la pérdida de tiempo al buscar ideas
                para proyectos, ya que proporciona sugerencias rápidas y
                directas que pueden ser utilizadas de inmediato como punto de
                partida para el desarrollo.
              </li>
              <li>
                Aumento de la motivación: Al proporcionar sugerencias frescas y
                emocionantes, el generador puede aumentar la motivación y el
                entusiasmo del desarrollador al iniciar nuevos proyectos y
                desafíos.
              </li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Puedo sugerir nuevos temas o tipos de proyectos para el
                generador?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Por el momento, la funcionalidad de sugerir nuevos temas o tipos
              de proyectos para el generador no está disponible. Sin embargo,
              valoramos mucho las sugerencias de los usuarios y estamos
              constantemente buscando formas de mejorar y expandir nuestra
              aplicación. Apreciamos tu interés en contribuir con nuevas ideas y
              te animamos a que sigas atento a futuras actualizaciones donde
              podríamos incorporar esta función. ¡Gracias por tu comprensión y
              paciencia!
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                ¿Puedo utilizar las ideas generadas por el generador para
                proyectos comerciales o profesionales?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
              Sí, puedes utilizar las ideas generadas por el generador para
              proyectos comerciales o profesionales, siempre y cuando respetes
              los derechos de autor y cumplas con todas las leyes y regulaciones
              aplicables. Las ideas proporcionadas por el generador están
              destinadas a inspirarte y servir como punto de partida para tus
              propios proyectos de programación.
            </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> ¿Quién es su creador? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="w-full">
    <app-footer></app-footer>
  </div>
</main>
