<mat-toolbar color="primary">
  <mat-toolbar-row class="h-12 justify-center">
    <a
      mat-icon-button
      aria-label="Perfil de github"
      href="https://github.com/AugusCav"
      target="_blank"
      matTooltip="Github"
      matTooltipPosition="above"
    >
      <mat-icon class="fa-brands fa-github"></mat-icon>
    </a>
    <a
      mat-icon-button
      aria-label="Perfil de Linkedin"
      href="https://www.linkedin.com/in/augustocava"
      target="_blank"
      matTooltip="Linkedin"
      matTooltipPosition="above"
    >
      <mat-icon class="fa-brands fa-linkedin"></mat-icon>
    </a>
    <a
      mat-icon-button
      aria-label="Portfolio"
      target="_blank"
      matTooltip="Portfolio"
      matTooltipPosition="above"
    >
      <mat-icon>language</mat-icon>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row
    class="h-8 border-t-indigo-600 border-t-2 w-full justify-center"
  >
    <p class="text-base">{{ year }} - Augusto Cavaignac</p>
  </mat-toolbar-row>
</mat-toolbar>
