<div [@generar]="estado ? 'true' : 'false'">
  <mat-card class="flex flex-col mat-elevation-z20 h-full">
    <mat-card-header class="flex-shrink-0">
      <mat-card-title *ngIf="tema != null">{{ tema.nombre }}</mat-card-title>
      <mat-card-title *ngIf="tipo != null">{{ tipo.nombre }}</mat-card-title>
      <mat-card-subtitle class="py-5">{{ subtitulo }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex-grow overflow-auto">
      <p *ngIf="tema != null">{{ tema.descripcion }}</p>
      <p *ngIf="tipo != null">{{ tipo.descripcion }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="regenerarEmit()" mat-button color="primary">
        REGENERAR
      </button>
    </mat-card-actions>
  </mat-card>
</div>
